{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^api/(.*)$",
        "^assets/(.*)$",
        "^components/(.*)$",
        "^constants/(.*)$",
        "^generated/(.*)$",
        "^hooks/(.*)$",
        "^modules/(.*)$",
        "^pages/(.*)$",
        "^styles/(.*)$",
        "^types/(.*)$",
        "^utils/(.*)$",
        "^svgs/(.*)$",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true
}