{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^components/(.*)$",
        "^generated/(.*)$",
        "^hooks/(.*)$",
        "^types/(.*)$",
        "^utils/(.*)$",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true
}