@tailwind base;
@layer base {
  html {
    @apply text-black;
  }

  button {
    @apply cursor-pointer select-none;
  }
}

@tailwind components;
@layer components {
  .slider-thumb::-webkit-slider-thumb {
    @apply bg-theme h-4 w-4 cursor-pointer appearance-none rounded-full;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner[type="number"] {
    -moz-appearance: textfield;
  }

  .divider {
    @apply h-0.5 w-full rounded;
  }

  .checkbox {
    @apply border-orange bg-lightOrange h-6 w-6 rounded-sm border;
  }

  .radio {
    @apply border-orange bg-lightOrange h-6 w-6 rounded-full border;
  }

  .bordered {
    @apply gradient rounded p-px;
  }

  .btn-main {
    @apply centered gradient rounded-sm p-2 font-medium uppercase text-white disabled:opacity-40;
  }

  .btn-sec {
    @apply centered border-theme text-orange rounded-sm border-2 p-2 font-semibold uppercase disabled:opacity-40;
  }

  .backdrop {
    @apply fixed left-0 top-0 z-10 flex h-screen w-full items-center justify-center bg-slate-800/30 backdrop-blur;
  }

  .dot {
    @apply h-2 w-2 rounded-full;
  }

  .content {
    @apply mx-auto mb-16 mt-8 w-11/12 sm:mt-12 sm:w-5/6 lg:w-3/5;
  }

  .content-wide {
    @apply mx-auto mb-16 w-11/12 sm:w-5/6 md:mt-12 lg:w-4/5;
  }

  .paper {
    @apply bg-whiteBackground border-stroke text-primaryText rounded border shadow;
  }
}

@tailwind utilities;
@layer utilities {
  .header-background {
    @apply gradient;
  }

  .dark .header-background {
    background: theme("colors.dark.whiteBackground");
  }

  .border-theme {
    border-color: theme("colors.light.theme");
  }

  .dark .border-theme {
    border-color: theme("colors.dark.theme");
  }

  .border-stroke {
    border-color: theme("colors.light.stroke");
  }

  .dark .border-stroke {
    border-color: theme("colors.dark.stroke");
  }

  .border-orange {
    border-color: theme("colors.light.orange");
  }

  .dark .border-orange {
    border-color: theme("colors.dark.orange");
  }

  .text-primaryText {
    color: theme("colors.light.primaryText");
  }

  .dark .text-primaryText {
    color: theme("colors.dark.primaryText");
  }

  .text-secondaryText {
    color: theme("colors.light.secondaryText");
  }

  .dark .text-secondaryText {
    color: theme("colors.dark.secondaryText");
  }

  .text-orange {
    color: theme("colors.light.orange");
  }

  .dark .text-orange {
    color: theme("colors.dark.orange");
  }

  .text-status-vouching {
    color: theme("colors.light.status.vouching");
  }

  .dark .text-status-vouching {
    color: theme("colors.dark.status.vouching");
  }

  .text-status-registered {
    color: theme("colors.light.status.registered");
  }

  .dark .text-status-registered {
    color: theme("colors.dark.status.registered");
  }

  .text-status-removed {
    color: theme("colors.light.status.removed");
  }

  .dark .text-status-removed {
    color: theme("colors.dark.status.removed");
  }

  .text-status-revocation {
    color: theme("colors.light.status.revocation");
  }

  .dark .text-status-revocation {
    color: theme("colors.dark.status.revocation");
  }

  .text-status-claim {
    color: theme("colors.light.status.claim");
  }

  .dark .text-status-claim {
    color: theme("colors.dark.status.claim");
  }

  .text-status-challenged {
    color: theme("colors.light.status.challenged");
  }

  .dark .text-status-challenged {
    color: theme("colors.dark.status.challenged");
  }

  .text-status-withdrawn {
    color: theme("colors.light.status.withdrawn");
  }

  .dark .text-status-withdrawn {
    color: theme("colors.dark.status.withdrawn");
  }

  .text-status-expired {
    color: theme("colors.light.status.expired");
  }

  .dark .text-status-expired {
    color: theme("colors.dark.status.expired");
  }

  .text-status-transferred {
    color: theme("colors.light.status.transferred");
  }

  .dark .text-status-transferred {
    color: theme("colors.dark.status.transferred");
  }

  .text-status-transferring {
    color: theme("colors.light.status.transferring");
  }

  .dark .text-status-transferring {
    color: theme("colors.dark.status.transferring");
  }

  .fill-primaryText {
    fill: theme("colors.light.primaryText");
  }

  .dark .fill-primaryText {
    fill: theme("colors.dark.primaryText");
  }

  .fill-orange {
    fill: theme("colors.light.orange");
  }

  .dark .fill-orange {
    fill: theme("colors.dark.orange");
  }

  .bg-whiteBackground {
    background-color: theme("colors.light.whiteBackground");
  }

  .dark .bg-whiteBackground {
    background-color: theme("colors.dark.whiteBackground");
  }

  .bg-whiteBackgroundWithOpacity {
    background-color: theme("colors.light.whiteBackground");
    opacity: 90%;
  }

  .dark .bg-whiteBackgroundWithOpacity {
    background-color: theme("colors.dark.whiteBackground");
    opacity: 90%;
  }

  .bg-theme {
    background-color: theme("colors.light.theme");
  }

  .dark .bg-theme {
    background-color: theme("colors.dark.theme");
  }

  .bg-primaryBackground {
    background-color: theme("colors.light.primaryBackground");
  }

  .dark .bg-primaryBackground {
    background-color: theme("colors.dark.primaryBackground");
  }

  .bg-orange {
    background-color: theme("colors.light.orange");
  }

  .dark .bg-orange {
    background-color: theme("colors.dark.orange");
  }

  .bg-lightOrange {
    background-color: theme("colors.light.lightOrange");
  }

  .dark .bg-lightOrange {
    background-color: theme("colors.dark.lightOrange");
  }

  .bg-grey {
    background-color: theme("colors.light.grey");
  }

  .dark .bg-grey {
    background-color: theme("colors.dark.grey");
  }

  .bg-status-vouching {
    background-color: theme("colors.light.status.vouching");
  }

  .dark .bg-status-vouching {
    background-color: theme("colors.dark.status.vouching");
  }

  .bg-status-registered {
    background-color: theme("colors.light.status.registered");
  }

  .dark .bg-status-registered {
    background-color: theme("colors.dark.status.registered");
  }

  .bg-status-removed {
    background-color: theme("colors.light.status.removed");
  }

  .dark .bg-status-removed {
    background-color: theme("colors.dark.status.removed");
  }

  .bg-status-revocation {
    background-color: theme("colors.light.status.revocation");
  }

  .dark .bg-status-revocation {
    background-color: theme("colors.dark.status.revocation");
  }

  .bg-status-claim {
    background-color: theme("colors.light.status.claim");
  }

  .dark .bg-status-claim {
    background-color: theme("colors.dark.status.claim");
  }

  .bg-status-challenged {
    background-color: theme("colors.light.status.challenged");
  }

  .dark .bg-status-challenged {
    background-color: theme("colors.dark.status.challenged");
  }

  .bg-status-withdrawn {
    background-color: theme("colors.light.status.withdrawn");
  }

  .dark .bg-status-withdrawn {
    background-color: theme("colors.dark.status.withdrawn");
  }

  .bg-status-expired {
    background-color: theme("colors.light.status.expired");
  }

  .dark .bg-status-expired {
    background-color: theme("colors.dark.status.expired");
  }

  .bg-status-transferred {
    background-color: theme("colors.light.status.transferred");
  }

  .dark .bg-status-transferred {
    background-color: theme("colors.dark.status.transferred");
  }

  .bg-status-transferring {
    background-color: theme("colors.light.status.transferring");
  }

  .dark .bg-status-transferring {
    background-color: theme("colors.dark.status.transferring");
  }

  .btn-main {
    background-color: #ff9966;
  }

  .divider {
    @apply h-0.5 w-full rounded;
  }

  .slider-thumb::-webkit-slider-thumb {
    @apply bg-theme h-4 w-4 cursor-pointer appearance-none rounded-full;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .absolute-centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .gradient {
    background: linear-gradient(
      150deg,
      #ff9966 33%,
      #ff9571,
      #ff917c,
      #ff8e87,
      #ff8d93,
      #ff8c9e,
      #ff8ca9 95%
    );
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-slate-200;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#ff8ca9];
  }

  .dark .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .dark .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-slate-700;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-500;
  }
}
